# SPDX-License-Identifier: Apache-2.0

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea

# gradle
!gradle/**
.gradle/
build/
jars/**

# Generated markdown
generate/src/main/resources/markdown/**

# Generated logs
**/test.log
**/debug.log

### Generated packages ###
generated-packages/**
/typedef-toolkit/model/src/main/kotlin/com/atlan/typedef/Model.kt
/typedef-toolkit/model/src/main/resources/META-INF/org/pkl/config/java/mapper/classes/
/package-toolkit/config/src/main/kotlin/com/atlan/pkg/Config.kt
/package-toolkit/config/src/main/kotlin/com/atlan/pkg/Connectors.kt
/package-toolkit/config/src/main/kotlin/com/atlan/pkg/Credential.kt
/package-toolkit/config/src/main/kotlin/com/atlan/pkg/Renderers.kt
/package-toolkit/config/src/main/resources/META-INF/org/pkl/config/java/mapper/classes/
/package-toolkit/config/src/main/resources/BuildInfo.pkl
/typedef-toolkit/model/src/main/resources/BuildInfo.pkl
