.md-header {
    position: initial;
}

.md-main__inner {
    margin: 0;
}

.md-content {
    display: none;
}

.mdx-container {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(0, 0%, 100%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--goreleaser-primary-color), #0CD1FA 99%, var(--md-default-bg-color) 99%);
    padding-top:1rem;
}[data-md-color-scheme=atlan-dark]

.mdx-container {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(232, 15%, 21%, 1)' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--goreleaser-primary-color), #0CD1FA 99%,var(--md-default-bg-color) 99%);
}

.mdx-hero {
    color:var(--md-primary-bg-color);
    margin:0 .8rem;
}

.mdx-hero h1 {
    color: #ffffff!important;
    font-weight:700;
    margin-bottom:1rem;
    line-height: 1.2!important;
}

.mdx-hero .md-button {
    color:var(--md-primary-bg-color);
    margin-right:.5rem;
    margin-top:.5rem;
}

.mdx-hero .md-button:focus,
.mdx-hero .md-button:hover {
    background-color:var(--md-accent-fg-color);
    border-color:var(--md-accent-fg-color);
    color:var(--md-accent-bg-color);
}

.mdx-hero .md-button--primary {
    background-color:var(--md-primary-bg-color);
    border-color:var(--md-primary-bg-color);
    color:var(--md-accent-fg-color);
}

@media screen and (max-width:29.9375em){
    .mdx-hero h1 {
        font-size:1.4rem;
    }
}

.mdx-hero__content {
    padding-bottom:6rem;
}

@media screen and (min-width:60em) {
    .mdx-hero {
        align-items:stretch;
        display:flex;
    }
    .mdx-hero__content {
        margin-top:3.5rem;
        max-width:19rem;
        padding-bottom:14vw;
    }
    .mdx-hero__image{
        order:1;
        transform:translateX(4rem);
        width:38rem;
    }
}

@media screen and (min-width:76.25em) {
    .mdx-hero__image {
        transform:translateX(8rem);
    }
}

.feature-item h2 svg {
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: translateY(10%);
}

.top-hr {
    margin-top: -42px;
}

.feature-item {
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word;
}

.feature-item h2 {
    color:var(--md-default-fg-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 18px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color:var(--md-default-fg-color);
    margin: 0 0 10px;
    display: block;
}

.feature-item ol {
    font-size: 16px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color:var(--md-default-fg-color);
    margin: 0 0 10px;
    display: block;
    list-style-type: decimal;
    list-style-position: outside;
}

.feature-item ol li {
    margin: 0.6em 0;
}

@media screen and (min-width:60em) {
    .md-sidebar--secondary {
        display: none;
    }
}

@media screen and (min-width:76.25em) {
    .md-sidebar--primary {
        display: none;
    }

    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }

    .feature-item {
        flex: 1;
        min-width: 0;
    }

}