# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 Atlan Pte. Ltd.
name: "PR"
permissions:
  contents: read

on:
  - pull_request

jobs:
  pr-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e  # v5.1.0
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary: on-failure
      - name: Build artifacts
        run: ./gradlew assemble shadowJar
        env:
          GH_USERNAME: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
      - name: Check formatting
        run: ./gradlew spotlessCheck
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
  pr-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e  # v5.1.0
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true
          gradle-home-cache-cleanup: false
          add-job-summary: on-failure
      - name: Unit tests
        run: ./gradlew testClasses test
        env:
          GH_USERNAME: ${{ github.actor }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
